{% extends 'base.twig' %}

{% block title %}About{% endblock %}

{% block content %}
<h3>About Shutdown-on-Idle <small>...</small></h3>
<ul>
    <li>was developed by <a href="https://twitter.com/mrohnstock">Mathias Rohnstock</a> beginning of 21 March 2013</li>
    <li>uses many open-source resources and is open-source, too</li>
    <li>is hosted and developed on <a href="https://github.com/drmonty/shutdown-on-idle">GitHub</a></li>
</ul>

<h3>Used resources <small>...</small></h3>
<dl class="dl-horizontal">
  <dt><a href="https://github.com/joyent/node">node</a></dt>
  <dd>evented I/O for v8 javascript</dd>
  <dt><a href="https://github.com/jquery/jquery">jQuery</a></dt>
  <dd>JavaScript Library</dd>
  <dt><a href="https://github.com/twitter/bootstrap">Bootstrap</a></dt>
  <dd>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</dd>
  <dt><a href="https://github.com/DataTables/DataTables">DataTables</a></dt>
  <dd>Tables plug-in for jQuery</dd>
  <dt><a href="https://github.com/nnnick/Chart.js">Chart.js</a></dt>
  <dd>Simple HTML5 Charts using the &lt;canvas&gt; tag</dd>
  <dt><a href="https://github.com/visionmedia/express">express</a></dt>
  <dd>Sinatra inspired web development framework for node.js</dd>
  <dt><a href="https://github.com/justjohn/twig.js">twig.js</a></dt>
  <dd>JS implementation of the <a href="https://github.com/fabpot/Twig">Twig</a> Templating Library</dd>
  <dt><a href="https://github.com/broofa/node-mime">node-mime</a></dt>
  <dd>A super simple utility library for dealing with mime-types</dd>
  <dt>
</dl>
{% endblock %}